.patron-boons{
  background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    margin-top: 3rem;
   border-radius: 10px;
   color: black;
  border: white;
  margin-bottom: 5rem;
}

.styles__heart {
  color: orange;
  margin-bottom: 2rem;
  margin-left: 8rem;
}

.community__text{
  margin: auto;
 
}