

body {
  font-size: Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
  gap: 2rem;
  justify-content: center;
}

 .card {
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-y: auto;
  margin-top: 3rem;
 border-radius: 10px;
color: black;
margin: 0 auto;


  }

 .card__image {
  height: 8rem;
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__description {
  padding: 0 1rem;
}

.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid orange;
  background: transparent;
  background-color: orange;
 transition:background 200ms ease-in, color 200ms ease-in;;
}

.card__hover{
  transform: scale(1.02);
}