*,
*::before,
*::after {
box-sizing: border-box;
-webkit-box-flex: 1;
flex-grow: 1;
transition-duration: 300ms;
transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
transition-delay: 0s;
transition-property: all;
padding-top: 0rem;
padding-right: 0rem;
padding-bottom: 0rem;
padding-left: 0rem;
margin-top: 0rem;
margin-right: 0rem;
margin-bottom: 0rem;
margin-left: 0rem;
}

body {
  font-size: Oxygen, sans-serif;
  margin: 2rem;
}



 .card2 {
   overflow: hidden;
   box-shadow: hidden; 
  border-radius: 0.2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
   transition-duration: 200ms ease-in;

  }

 .card2__image {
  height: 8rem;
  width: 140%;
  object-fit: cover;
}

.card2__title {
  padding: 1rem;
  color: black;
}

.card2__description {
  padding: 0 1rem;
  color: black;
}

.card2__btn {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  
}

.comment{
  color: orange;
}

.like {
  margin-left: 3rem;
  color: orange;
}

.posts{
  color: orange;
  
}

.card2__hover{
  transform: scale(1.02);
}