.Footer {
    height: px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    text-align: left;
    margin-top: auto;
    position: absolute;
    bottom: -1000000;
    left: 0;
    width: 100%;
}


// / Media queries for different screen sizes /
@media (max-width: 600px) {
.Footer {
        padding: 0.5em;
    }
}

@media (max-width: 400px) {
    .Footer {
        font-size: 0.8em;
    }
}