.banner{
  display: grid;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-size: cover;
}

.banner__img{
  height: auto;
  width: 100%;
}

/* Media Queries */
@media (max-width: 767px) {
  header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 80px;
  }
}

@media (min-width: 992px) {
  header {
    height: 100px;
  }
}