.banner{
  width: 100vw;
  height: auto;
  position: relative;
  left: -10%;
  overflow-x: hidden;
}

.banner__img{
  height: auto; 
  max-width: min-content;   
}

/* Media Queries */
@media (max-width: 767px) {
  header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 80px;
  }
}

@media (min-width: 992px) {
  header {
    height: 100px;
  }
}